@mixin flex-center {
    display: flex;
    justify-content: center
}
.error-fallback-page-container {
    @include flex-center;
    height: 80vh;
    .error-inner-section{
        align-self: center!important;
        .error-icon{
            display: flex;
            margin: auto
        }
        .error-heading, .btn-section, .error-stack {
            @include flex-center
        }
    }
}